result
./home-manager/ottersome-home-configs/**/backup/
./home-manager/ottersome-home-configs/*undo
home-manager/ottersome-home-configs/nvim/backup
home-manager/ottersome-home-configs/nvim/undo
~/.cache/nvim
home-manager/ottersome-home-configs/nvim/spell
