toggle_custom_color <C-k> 
#
#
add_highlight r
delete_highlight dd
embed_annotations ee
# movement (can be prefixed with a number)
move_down           j
move_up             k
move_left           h
move_right          l

fit_to_page_width   <s>
fit_to_page_width_smart   <S-s>

# ---------- BOOKMARKS ----------
# Add a bookmark in the current location (opens a text input where you can specify the bookmark text)
add_bookmark        <C-b>
delete_bookmark     dn

# Open bookmarks menu of the current document.
goto_bookmark       gn

# Open bookmarks menu of all documents.
goto_bookmark_g     g<S-b>

